body {
    background-color: aliceblue;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav {background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 1em;
}
nav a {color:black;}
nav a:hover {background-color: orange;}

